.btn {
	@include bg-colors($button-colors);
}

[class^="btn--"] {
  @extend %center-align;
  @extend %btn;
  margin-bottom: em(20px, 14px);
	width: 100%;
  @include mq(medium) {
    display: inline-block;
		@include doubly(50px);
  }
}
