// ==========================================================================
// Form Elements
// ==========================================================================

.form {
	@include e(label) {
		@include m(hidden) {
			@extend .srt;
		}
	}
	@include mq(medium){
		margin-left: auto;
	}

	@include e(input) {
    display: block;
    width: 90%;
    border: none;
    font-size : em(16px);
    padding: .75em;
    margin: 0 auto em(24px, 18px);
		border-bottom: 6px solid $color-primary;
		font-weight: $font-weight--bold;

		&:focus {
			outline: none;
    }
	}
}
