.grid {

  @include e(row) {
    display: block;
    padding: .5em;
    margin-bottom: 1em;
  }
  @include e(col) {
    @include bg-colors ($grid-colors);

  }
}

[class^="grid__col--"] {
  padding: .75em .5em;
  border: 0;
  border-radius : 5px;
  color: $grey;
  margin-bottom: .25em;
  font-weight: $font-weight--bold;

}
