.grid {

  @include e(row) {
    display: block;
    padding: .5em;
    margin-bottom: 1em;
    @include mq(medium){
      @include flexbox(flex, row, wrap, space-between);
    }
  }
  @include e(col) {
    @include bg-colors ($grid-colors);
    @include mq(medium){
      @include g-columns();
    }
  }
}

[class^="grid__col--"] {
  padding: .75em .5em;
  border: 0;
  border-radius : 5px;
  color: $grey;
  margin-bottom: .25em;
  font-weight: $font-weight--bold;
  @include mq(medium){
    @include flexbox($just: space-between);
  }

}
