.img {
  @include m(frame) {
    @extend %img-disp;
    border: 1px solid $grey;
    width: 100%;
    padding: .5em;
  }
  @include m(avatar) {
    @extend %img-disp;
    width: 50%;
  }
  @include m(logo) {
    @extend %img-disp;


  }
}
