.link{
  @extend %links;
}
.blockquote{
  border-radius: 6px;
  padding: 0 0 0 5%;
  border-left: em(8px, 24px) solid $color-primary;
	font-weight: $font-weight--medium;
	font-style : italic;
	font-size : em(24px);
}
.headline{
  @include m(primary) {
    color: $color-primary;
    font-weight: $font-weight--ultra-bold;
    margin-left: 1em;
  }
  @include m(secondary) {
    font-weight: $font-weight--medium;
    color: $grey;
  }
}
