* {
  box-sizing: border-box;
  // border: red 1px solid;
}

ul{
  list-style: none;

}

p {
  font-size: $base__font-size;
  line-height: normal;
  font-weight: $font-weight--medium;
}

.container{
  font-family: $font-family--primary;
  padding: 1em;
}
